* {
  margin: 0;
  padding: 0;
}

body {
  /* more on this crazy alphanumerical value in a minute! */
  color: #fc389a;
  font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
  padding: 20px 35px;
  background-color: #389dfc;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fc389a;
  margin: 0;
  display: inline;
}

header a {
  text-decoration: none;
  color: #fc389a;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}

footer {
    background: #389dfc;
    width: 100%;
    padding: 40px 35px;
  }

  footer h2 {
    display: inline;
    color: #fc389a;
    font-size: 30px;
    margin: 0;
  }

  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }

  footer a {
    color: #fc389a;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }